

<!-- <div class="jumbotron ">
    <div class="container">
        <div class="form-group">
            <label class="control-label" for="focusedInput"></label>
            <h2>Search game<h2>
                <input ng-model="comicInput" class="form-control" id="focusedInput" type="text" placeholder="Your search">
                <button ng-click="onSearchComicButton()" href="#" class="btn btn-primary btn-lg btn-block">Search comic</button>
        </div>
    </div>
</div>
 -->


<form col-xs-12>
  <input type="text" ng-model="comicInput" name="comic" class="question" id="nme" required autocomplete="off" />
  <label for="nme"><span>Search comic here.</span></label>
  <input ng-click="onSearchComicButton()" type="submit" value="Search" />
</form>

    
