
    <div class="container">
        <div clas="row">
            <div class="desc-img-container col-xs-12 col-md-12 col-lg-6">
                <div class="img-container">
                    <img src="https://www.giantbomb.com/api/image/scale_medium/1803997-box_spyroyotd.png" class="jumbotron img-responsive"></img>
                </div>
                <div class="desc-container col-lg-6">
                    <h2>Immortal Redneck</h2>
                    <p><em>Spyro: </em>Spyro: Year of the Dragon is the third installment of series, developed by Insomniac before they sold the rights of the franchise. The story follows the adventures of Spyro the Dragon, and his dragonfly companion Sparx. The big new feature of this game is the Spyro's friends are also available as playable characters in their own special areas, each with different and useful abilities.</p>
                                <div>
                <p>Tags</p>
                <span class="label label-default">Action</span>
                <span class="label label-primary">Indie</span>
                <span class="label label-success">FPS</span>
                <span class="label label-warning">Strategy</span>
                <span class="label label-danger">Shooter</span>
                <span class="label label-info">Free</span>
                <p><em>Release Data: </em>25 April 2017</p>
            <div>
                <p><em>Title: </em>Immortal Redneck</p>
                <p><em>Platform: </em>XBOX, Super Nintendo, MegaDrive</p>
                <p><em>Genre: </em>Action, Indie</p>
                <p><em>Theme: </em>Fantasy, Fiction</p>
                <p><em>Developer: </em>Crema</p>
                <p><em>Publisher: </em>Tofu</p>
                <p><em>Aliases </em>Mortal BlueDick</p>
            </div>
            </div>
                </div>
            </div>


        </div>
    </div>
